*{
    box-sizing: border-box;
}

@font-face{
    font-family: "PFBulletinSansPro-Bold";
    src: url("../fonts/pfbulletinsanspro-bold.ttf");
}

@font-face{
    font-family: "PFBulletinSansPro-Light";
    src: url("../fonts/pfbulletinsanspro-light.ttf");
}

@font-face{
    font-family: "PFBulletinSansPro-Medital";
    src: url("../fonts/pfbulletinsanspro-medital.ttf");
}

@font-face{
    font-family: "PFBulletinSansPro-Redular";
    src: url("../fonts/pfbulletinsanspro-regular.ttf");
}

header{
    width: 1440px;
    margin: 0 auto;
    padding: 30px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    width: 450px;
}

.main-menu{
    width: 900px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-menu a{
    font-family: "PFBulletinSansPro-Bold";
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.main-menu a:hover {
    background-size: 100% 2px;
}

.menu-conf{
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: rgb(255, 102, 0);
    border-radius: 5px;
    z-index: 5;
}

.item-conf:hover .menu-conf{
    display: block;
}

.menu-conf li{
    padding: 20px 35px;
}

.slider{
    height: 550px;
    background-image: url("../img/slider-1.jpg");
    position: relative;
    padding: 15px;
}

.slider h2{
    font-family: "PFBulletinSansPro-Light";
    font-weight: 300;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;

}

.slider p{
    color: #ffffff;
    font-family: "PFBulletinSansPro-Light";
    width: 800px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 40px;
}

.slider .wrapper{
    width: 1440px;
    margin: 0 auto;
}

.left-arrow{
    position: absolute;
    display: block;
    height: 100px;
    left: 35px;
    top: 220px;
}

.right-arrow{
    position: absolute;
    display: block;
    height: 100px;
    right: 35px;
    top: 220px;
}

.slider .button{
    padding: 17px 50px;
    background-color: rgb(255, 102, 0);
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "PFBulletinSansPro-Light";
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}

.button-wrapper{
    margin-top: 65px;
    text-align: center;
}

.news .wrapper{
    width: 1440px;
    margin: 0 auto;
}

.news ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.news li{
    background-color: rgb(49, 49, 49);
    border-radius: 3px;
    color: #ffffff;
    font-family: "PFBulletinSansPro-Light";
    
}

.news .text{
    padding: 15px;
}

.news img{
    width: 350px;
}




footer{
    background-color: rgb(49, 49, 49);
    
}

footer .wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.social{
    width: 300px;
    padding: 35px 0;
}

.social ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social img{
    height: 50px;
}

.history .wrapper{
    width: 1440px;
    margin: 0 auto;
}

.history h1{
    font-family: "PFBulletinSansPro-Light", sans-serif;
    font-weight: 700;
    padding-left: 150px;
}

.history p{
    font-family: "PFBulletinSansPro-Light", sans-serif;
    font-size: 25px;
    line-height: 35px;
    padding: 0 150px;
}